body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: aqua; */
  }
  

  #W4Title{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 50%;
    height: auto;
  }

  .nav{
    width: 50vw;
    height: 40vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80%;
    left: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #CB{
    width: 50%;
    cursor: pointer;
  }

  #CC{
    width: 50%;
    cursor: pointer;
  }

  #CCC{
    width: 50%;
    cursor: pointer;
  }
  
  #return{
    width: 8%;
    position: absolute;
    cursor: pointer;
    top: 85%;
  }

  #instructions{
    border-color: none;
    border: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: blue;
    font-family: 'Zapfino';
    font-style: normal;
    font-weight: normal;
    src: local('Zapfino'), url('Zapfino.woff') format('woff');
    font-size: 2em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
