*{
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 0;
    margin: 0;
    /* background-color: #A39D96; */
}

body{
    background-color: #A39D96;
    cursor: crosshair;
    overflow-x: hidden;
}


nav{
    display: flex;
    background:none;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    background-color: #A39D96;
    width: 100vw;
    position: relative; 
    z-index: 1; 
}

#Title{
    font-size: 10vw;
    padding: 0 2vw;
    margin: 0;
    color: black;
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
}
  nav > ul{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  nav li{
    padding: 1em;
    transform: translateX(-1em);
    background:none;
  }

  nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
}
    
nav li:hover ul{
    transform: scale(1,1);
    transition: 0.3s;
}

a{
    text-decoration: none;
}


#PWtitle{
    /* position: absolute; */
    text-align: end;
    cursor: pointer;
}

#PWoverlay{
    position: absolute;
    background-color:rgba(1,255,255,0.5);
    width: 15vw;
    height: 3vh;
    top:50%;
    left: 45%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#AWtitle{
    text-align: end;
    cursor: pointer;
}

#AWoverlay{
    position: absolute;
    background-color:rgba(255,29,170, 0.5);
    width: 26vw;
    height: 3vh;
    top:50%;
    left: 48%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}


.PW{
    background-color:rgba(1,255,255,0.5);
    color:rgb(55, 70, 70);
    width: 15vw;
    text-align: end;
    padding: 0  0 1em 0;
    cursor: pointer;
}

.PW:hover{
    color: white;
    cursor: pointer;
}

.AW{
    background-color:rgba(255,29,170, 0.5);
    color:rgb(85, 60, 75);
    width: 26vw;
    text-align: end;
    padding: 0  0 1em 0;
    cursor: pointer;
}

.AW:hover{
    color: white;
    cursor: pointer;
    }


.IW{
    background-color:rgba(235,249,3, 0.5);
    color:rgb(89, 90, 63);
    width: 17vw;
    text-align: end;
    padding: 0  0 1em 0;
    cursor: pointer;
}

.IW:hover{
    color: white;
    cursor: pointer;
    }



#IWtitle{
    text-align: end;
      cursor: pointer;
      color: black;
}

#IWoverlay{
    position: absolute;
    background-color:rgba(235,249,3, 0.5);
    width: 17vw;
    height: 3vh;
    top:50%;
    left: 45%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.sub-heading{
    font-size: 7vw;
    border-bottom-style: solid;
    border-top-style: solid;
}

.sub-heading:hover{
    color: rgb(235,249,3);
}


 .inspoScroll{
    display: flex;
    overflow-x: scroll;
    background-color: #A39D96;
    padding: 1em 1em 0 1em;
 }


 .inspoImg{
    width: 15vw;
    height: 80vh;
 }

 .inspoImg:hover{
    width: auto;
    height: 80vh;
 }


/* List  */
.wrapper{
    display: flex;
}



.components-title{
    font-size: 3vw;
}

.inspo-info{
   
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
}



.inspo-list{
    position: relative;
    top: 5vh;
}

.inspo1{
    display: flex;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
    color: black;
    justify-content: space-between;

}

.hide{
    background-color:rgba(255,29,170, 0.5);
    display: none;
    text-align: center;
}

.inspo1:hover + .hide{
    display: block;

}

.inspo1:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}





.inspo2{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}


.inspo2:hover + .hide{
    display: block;

}

.inspo2:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}


.inspo3{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}



.inspo3:hover + .hide{
    display: block;
}

.inspo3:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}


.inspo4{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}



.inspo4:hover + .hide{
    display: block;
}

.inspo4:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}


.inspo5{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}



.inspo5:hover + .hide{
    display: block;
}

.inspo5:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}


.inspo6{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}



.inspo6:hover + .hide{
    display: block;
}

.inspo6:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}


.inspo7{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}



.inspo7:hover + .hide{
    display: block;
}

.inspo7:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}



.inspo8{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}

.inspo8:hover + .hide{
    display: block;
}

.inspo8:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}



.inspo9{
    display: flex;
    justify-content: space-between;
    padding: 1em  0;
    border-bottom-style: solid;
    font-size: 2vw;
}

.inspo9:hover + .hide{
    display: block;
}

.inspo9:hover{
    background-color:rgba(235,249,3, 0.5);
    transition: 1s;
}














.link{
    width: 2%;
    cursor: pointer;
    text-align: end;
}

.inspo-name{
    color: black;
}


.inspo-name:hover{
    color:rgb(1,255,255);
}



.returnHome{    
    padding: 1em;
 }
 
 #Home{
     color: black;
     font-size: 2vw;
 }
 
 #Home:hover{
     color: black;
     font-size: 2vw;
     color: rgb(0,255,0);
 }
 