body{
    background-color: black;
    margin: 0;
    font-family: "ocr-a-std", monospace;
    font-style: normal;
}
#backgroundText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    position: relative;
    
}

.blink {
    display: flex;
    animation: blinker 1.5s linear infinite;
    justify-content: center;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#pages{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    position: absolute;
    top: 130%;
}


#homepageW2{
    background-color: white;
    height: 30vh;
    width: 30vw;
}

#subjectpageW2{
    background-color: white;
    height: 30vh;
    width: 30vw;

}

#assignmentsW2{
    background-color: white;
    height: 30vh;
    width: 30vw;
}

#analysis{
    background-color: white;
    width: 50vw;
    height: 40vh;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    padding: 1em;
}

#returnhome{
    background-color: black;
    color: white;
    font-family: "ocr-a-std", monospace;
    font-style: normal;
    cursor: pointer;
}

.wf{
    width: 99vw;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Wireframe{
    width: 40vw;
    
}

#Wireframeanaylsis{
    background-color: white;
    width: 37.9vw;
    height: 30vh;
    overflow: scroll;
    padding: 1em;
}